/* ------------------ ARTE ----------------- */

#arte {
  margin-top: 4rem;
}

hr {
  width: 293px;
  height: 6.5px;
  background-color: #26dbfd;
  margin-top: 1.5rem;
}

#logo-pas, #logo-loope, #texto-arte p {
  margin-left: auto;
  margin-right: auto;
}

#texto-arte p span {
  font-weight: bold;
}

#texto-arte p {
  position: relative;
  top: -38px;
}

#logo-loope {
  position: relative;
  top: -40px;
  width: 60%;
}

/* ------------------ VÍDEO ----------------- */

#video {
  margin-top: 4rem;
}

#video h2 span {
  color: #FFFFFF;
  background-color: #26dbfd;
}

iframe {
  margin-top: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

/* ------------------ PROPÓSITO ----------------- */

#proposito {
  margin-top: 4rem;
}

#proposito h2 span {
  color: #FFFFFF;
  background-color: #2677fd;
}

#texto-proposito, a.to-form {
  margin-left: auto;
  margin-right: auto;
}

#texto-proposito p span {
  font-weight: bold;
  color: #2677fd;
}

a.to-form, button {
  border: 0px;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding: .4rem 1.8rem .4rem 1.8rem;
  border-radius: 1rem;
  color: #FFFFFF;
}

a.to-form {
  background-image: linear-gradient(to bottom right, #2677fd, #26dbfd);
}

a.to-form:hover, button:hover {
  color: #26dbfd;
}

/* ------------------ PILARES ----------------- */

#pilares {
  margin-top: 4rem;
}

#pilares h2 span {
  color: #FFFFFF;
  background-color: #26dbfd;
}

#pilares h3 {
  color: #26dbfd;
}

.col-11 {
  margin-left: auto;
  margin-right: auto;
}

/* ------------------ CALENDÁRIO ----------------- */

#calendario {
  margin-top: 4rem;
}

#calendario h2 span {
  color: #FFFFFF;
  background-color: #2677fd;
}

#calendario .col-md-5 {
  margin-left: auto;
  margin-right: auto;
}

#calendario h3 {
  font-weight: bold;
  margin-top: 1.1rem;
}

th {
  color: #2677fd;
}

#calendario .table {
  color: #9e9e9e;
}

td:nth-child(2), td:nth-child(4), td:nth-child(6), #curso {
  color: #FFFFFF;
  background-color: #2677fd;
}

.feriado, td.feriado {
  background-color: #ff0000;
  color: #FFFFFF;
}

td.simulado, #simulados {
  color: #FFFFFF;
  background-color: #ffc81a;
}

#calendario .row span {
  font-family: 'Lato', sans-serif;
}

#curso {
  margin-left: auto;
}

#simulados {
  margin: 0 10px;
}

span.feriado {
  margin-right: auto;
}/* ------------------ VÍDEO ----------------- */

#video {
  margin-top: 4rem;
}

#video h2 span {
  color: #FFFFFF;
  background-color: #26dbfd;
}

iframe {
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

/* ------------------ VÍDEO ----------------- */

#video {
  margin-top: 4rem;
}

#video h2 span {
  color: #FFFFFF;
  background-color: #26dbfd;
}

iframe {
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

/* ------------------ LOCAL E HORARIO ----------------- */

#info {
  margin-top: 4rem;
}

#info h2 span {
  color: #FFFFFF;
  background-color: #26dbfd;
}

#icone-local, #icone-horario {
  position: relative;
}

#icone-local {
  max-height: 84px;
}

#local {
  text-align: left;
  margin-left: 0;
}

#local p {
  padding-left: .5rem;
  border-left: 3px solid;
  border-right: 0;
  left: -12px;
}

#horario {
  text-align: right;
  margin-right: auto;
}

#horario p {
  padding-right: .5rem;
  border-right: 3px solid;
  border-left: 0;
  right: -12px;
}

#local p, #horario p {
  font-family: 'Lato', sans-serif;
  margin-top: 1.1rem;
  border-image: linear-gradient(to bottom, #2677fd, #26dbfd) 1 100%;
  position: relative;
}

#local p span, #horario p span span{
  font-weight: bold;
}


/* ------------------ INVESTIMENTO + FORM ----------------- */

#final {
  margin-top: 4rem;
}

#final h2 span {
  background-color: #2677fd;
  color: #FFFFFF;
}

#final img {
  max-width: 60%;
}

#final h3 span {
  color: #2677fd;
  font-weight: bold;
}

#form {
  border-radius: 2rem;
  background-image: linear-gradient(to bottom right, #2677fd, #26dbfd);
}

#name, #email {
  width: 80%;
}

label {
  color: #FFFFFF;
  text-align: left;
  padding-left: 3rem;
}

.pure-form .pure-group input:last-child, #email {
  margin: 5px auto;
  border-radius: 4px;
  width: 80%;
}

.gform h3 {
  color: #FFFFFF;
  padding-top: 1rem;
}

button {
  position: relative;
  top: -15px;
  background-color: #2677fd;
}

fieldset span, .thankyou_message {
  color: #FFFFFF;
}

.thankyou_message {
  font-family: 'Lato', sans-serif;
  padding-bottom: 1.5rem;
}

.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}
.is-center {
  text-align: center;
}
.button-success {
  color: #424249;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
}
.button-xlarge {
  font-size: 125%;
}

/* ------------------ FOOTER ----------------- */

footer .container {
  margin-top: 2rem;
  padding: 20px;
}

footer h5 {
  margin-bottom: 0;
}

#thomas {
  max-width: 180px;
}

footer hr {
  height: 4.5px;
  width: 70px;
  background-color: #FFFFFF;
  margin: 20px auto 40px auto;
}

.mb-3 {
  margin-top: 1rem;
}


/* ================= MEDIA QUERIES ================= */

/* ------------------ MOBILE - DEFAULT ----------------- */
@media (max-width: 575.98px) {
  #logo-loope {
    height: 52px;
    width: 215px;
  }

  #texto-arte {
    font-size: .95rem;
  }
  
  #texto-proposito {
    width: 80%;
  }

  #icone-local {
    top: 30px;
    left: 15px;
  }

  #horario {
    margin-top: 1.2rem;
  }

  #horario p {
    height: 57px;
    padding-top: 7px;
  }

  #icone-horario {
    top: 60px;
  }

  #local p, #horario p {
    font-size: 0.8rem;
  }

  #final h2 span {
    font-size: 1.71rem;
  }

  #final h3 {
    font-size: 1.6rem;
  }

  #pilares img {
    width: 210px;
    height: 144px;
  }
}

/* ------------------ LANDSCAPE MOBILE - S ----------------- */

@media (min-width: 576px) and (max-width: 767.98px) {
  #logo-loope {
    height: 52px;
    width: 215px;
  }

  #icone-local {
    top: 35px;
    left: 90px;
  }

  #icone-horario {
    width: 80%;
    top: 15px;
  }

  #horario {
    margin-top: 1.2rem;
  }

  #horario p {
    height: 57px;
    padding-top: 7px;
  }

  #pilares img {
    width: 50%;
    height: auto;
  }
}

/* ------------------ TABLETS - MD ----------------- */

@media (min-width: 768px) and (max-width: 991.98px) {
  #arte hr {
    width: 444px;
  }
  
  #texto-arte p {
    font-size: 1.45rem;
    top: -45px;
  }

  #logo-loope {
    height: 60px;
    width: 230px;
  }

  #calendario .col-md-5 {
    padding: 0;
  }

  #info .col-5 {
    padding: 0;
  }

  #local {
    padding-right: 0;
  }

  #horario {
    padding-left: 0;
    font-size: .9rem;
  }

  #horario p {
    height: 96px;
    padding-top: 25px;
  }

  #icone-local {
    top: 45px;
    left: 45px;
  }

  #icone-horario {
    top: 40px;
  }

  #final h2 {
    font-size: 1.9rem;
  }
}


/* ------------------ SMALL DESKTOPS - LG ----------------- */

@media (min-width: 992px) and (max-width: 1199.98px) {
  #arte hr {
    width: 444px;
  }
  
  #texto-arte p {
    font-size: 1.45rem;
    top: -45px;
  }
  
  #logo-loope {
    height: 60px;
    width: 230px;
  }
  
  #texto-proposito {
    width: 75%;
  }

  #local {
    padding-right: 0;
  }

  #horario {
    padding-left: 0;
  }

  #horario p {
    height: 72px;
    padding-top: 12px;
  }

  #icone-local {
    top: 35px;
    left: 75px;
  }

  #form {
    width: 90%;
  }
}

/* ------------------ LARGE DESKTOPS - XL ----------------- */

@media (min-width: 1200px) {
  #arte hr {
    width: 444px;
  }

  #logo-loope {
    height: 62px;
    width: 258px;
  }
  
  #texto-arte p {
    font-size: 1.45rem;
    top: -45px;
  }
  
  #logo-loope {
    max-width: 20%;
  }

  #texto-proposito {
    width: 60%;
  }

  #local {
    padding-right: 0;
  }

  #horario {
    padding-left: 0;
  }

  #horario p {
    height: 72px;
    padding-top: 12px;
  }

  #icone-local {
    top: 35px;
    left: 90px;
  }

  #icone-horario {
    width: 80%;
    top: 15px;
  }

  #form {
    width: 85%;
  }
}

/* ------------------ MINI MOBILE - IPHONE 5/SE ----------------- */

@media (max-width: 340px) {
  label {
    padding-left: 2rem;
  }

  #icone-local {
    top: 20px;
    left: 12px;
  }
}